.flex-box {
    display: flex;
}

.container {
    flex-direction: column;
    align-items: center;
    background-color: #E3E8EC;
    width: 50%;
    margin: auto;
}

.header {
    font-size: 32px;
    color: gray;
    padding: 10px;
}

.funs {    
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    padding: 20px 0px;
    border-top: 1px solid gray;
    align-items: center;
}


.filters span{
    padding: 2px 10px;
    text-align: center;
    margin-right: 10px;
}

.hover-color:hover {
    background-color: lightgray;
    cursor: pointer;
}

.active {
    border: 1px solid rgb(8, 8, 8);
    border-radius: 5px;
}

.list {
    width: 100%;
    background-color: white;
    /* height: 200px; */
    /* padding: 10px; */
    font-size: 20px;
}

::placeholder {
    font-size: 17px;
    color: lightgray;
}

.list-item {
    font-size: 17px;
    outline: none;
    border: none;
    width: 97.5%;
    padding: 15px 10px;
    border-bottom: 1px solid #E9EEF9;
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: space-between;
}

.list input {
    border-bottom: 3px solid #E9EEF9;
}


.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 1px solid lightgray;
    border-radius: 50%;
  }
  
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .checkbox-container input:checked ~ .checkmark {
    background-color: whitesmoke;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkbox-container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #2196F3;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .list-text {
      margin-left: 50px;
      margin-top: -13px;
  }

  .close-icon {
      margin-top: -3px;
      font-weight: bold;
      color: gray;
      cursor: pointer;
  }